* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('base.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 50%;
}

h3, h2, p, img {
  padding: 2px;
}
p {
  font-size: 1.3em;
}
.dataBox{
  color:white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.tempUnit {
  cursor: pointer;
  color: blue;
}


.icon {
  width: 50px;
  height: 50px;
}

footer{
  color: white;
  position: fixed;
  bottom: 1.5em;
  left: 50%;
  transform: translate(-50%);
}
a {
  color: white;
  text-decoration: none;
  text-decoration-color: none;
}
